composer.phar

public/*
!/public/index.php
!/public/.htaccess
!/public/web.config
!/public/robots.txt
!/public/mix-manifest.json

node_modules
public/hot
public/storage
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


resources/coreui/.DS_Store
resources/coreui/node_modules
resources/coreui/dist
resources/coreui/coverage

resources/coreui/tests/e2e/reports/
resources/coreui/selenium-debug.log

# local env files
resources/coreui/.env.local
/resources/coreui/.env.*.local

# Log files
resources/coreui/npm-debug.log*
resources/coreui/yarn-debug.log*
resources/coreui/yarn-error.log*

# Editor directories and files
resources/coreui/.idea
resources/coreui/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.idea

public_html
